@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto:400,700,400italic|Roboto+Slab:700);body{font-family:'Roboto',sans-serif;font-size:16px;color:#333;margin:0 0 0 0
}
p{line-height:1.4
}
#sidebar{background-color:#ececec;position:fixed;float:left;width:200px;height:100%;padding-left:25px;padding-right:25px
}
#sidebar ul{padding-left:0px
}
#sidebar li{list-style:none
}
#topbar{display:none;background-color:#ececec;position:fixed;width:100%;height:40px
}
#topbar ul,#topbar ul li{display:inline
}
#topbar ul{float:left;padding-left:5px;margin-top:10px
}
#topbar ul li{border-right:thin solid black;padding-right:5px
}
#topbar ul li:last-child{border-right:none
}
#topbar .social-icons{float:right;padding-top:8px
}
img#gravatar{border-radius:10px
}
#content{margin:0 auto 0 250px;padding:10px 25px 10px 25px;max-width:850px
}
h1{font-size:28px;color:#000
}
a{color:#3050c8;text-decoration:none;font-weight:bold
}
a:hover{background-color:#3050c8;color:white;text-decoration:none
}
h1,h2,h3,h4,h5{font-family:'Roboto Slab',sans-serif;margin:1.2em 0 0.6em 0
}
h1:first-of-type,h2:first-of-type,h3:first-of-type,h4:first-of-type,h5:first-of-type,h6:first-of-type{margin-top:0.6em
}
code,tt{font-family:'Andale Mono',Monaco,'Liberation Mono','Bitstream Vera Sans Mono','DejaVu Sans Mono',monospace
}
.social-icon{display:inline-block;position:relative;text-indent:-9999px;width:24px;height:24px;opacity:0.5;-webkit-transition:opacity 0.5s;-moz-transition:opacity 0.5s;-o-transition:opacity 0.5s
}
.social-icon:hover{opacity:1
}
.social-icons{padding-right:5px
}
.social-icon-container{height:29px
}
#header{background-color:#000040;color:white
}
#header h1{background-color:#000040;color:inherit;padding-top:10px;text-align:center;margin:0 0 0 0
}
h1 a,h1 a:hover{background-color:inherit;color:inherit;text-decoration:inherit
}
#footer{height:20px;background-color:#000040
}
.history-previous{display:block;float:left;max-width:425px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis
}
.history-previous:before{content:"\2190\0020"
}
.history-next{display:block;float:right;max-width:425px;overflow:hidden;white-space:nowrap;text-overflow:"\2026\0020\2192"
}
.history-next:after{content:"\0020\2192"
}
.clear-it{clear:both
}
code{background-color:ghostWhite !important;border:thin solid #dedede
}
.code{font-family:'Source Code Pro',sans-serif;background-color:#ececec;padding-left:5px;padding-right:5px;overflow:auto
}
.post-date{font-style:italic
}
.powered-by-perl{font-style:italic
}
.discussion-placeholder{margin-top:20px;font-style:italic
}
.tags{font-size:12px;text-align:right;border-top:thin solid #e0e0e0;padding-top:5px
}
.tags span{background:url(/images/tag.gif) no-repeat scroll 0px 1px transparent;padding:1px 0px 1px 16px
}
#search-help{float:right;cursor:help
}
#search-form{margin-bottom:5px
}
#q{float:left;width:120px;margin-right:5px
}
.code{
}
.code .hll{background-color:#ffffcc
}
.code .c{color:#aaaaaa;font-style:italic
}
.code .err{color:#F00000;background-color:#F0A0A0
}
.code .k{color:#0000aa
}
.code .cm{color:#aaaaaa;font-style:italic
}
.code .cp{color:#4c8317
}
.code .c1{color:#aaaaaa;font-style:italic
}
.code .cs{color:#0000aa;font-style:italic
}
.code .gd{color:#aa0000
}
.code .ge{font-style:italic
}
.code .gr{color:#aa0000
}
.code .gh{color:#000080;font-weight:bold
}
.code .gi{color:#00aa00
}
.code .go{color:#888888
}
.code .gp{color:#555555
}
.code .gs{font-weight:bold
}
.code .gu{color:#800080;font-weight:bold
}
.code .gt{color:#aa0000
}
.code .kc{color:#0000aa
}
.code .kd{color:#0000aa
}
.code .kn{color:#0000aa
}
.code .kp{color:#0000aa
}
.code .kr{color:#0000aa
}
.code .kt{color:#00aaaa
}
.code .m{color:#009999
}
.code .s{color:#aa5500
}
.code .na{color:#1e90ff
}
.code .nb{color:#204a87
}
.code .nc{color:#00aa00;text-decoration:underline
}
.code .no{color:#aa0000
}
.code .nd{color:#888888
}
.code .ni{color:#800000;font-weight:bold
}
.code .nf{color:#00aa00
}
.code .nn{color:#00aaaa;text-decoration:underline
}
.code .nt{color:#1e90ff;font-weight:bold
}
.code .nv{color:#aa0000
}
.code .ow{color:#0000aa
}
.code .w{color:#bbbbbb
}
.code .mf{color:#009999
}
.code .mh{color:#009999
}
.code .mi{color:#009999
}
.code .mo{color:#009999
}
.code .sb{color:#aa5500
}
.code .sc{color:#aa5500
}
.code .sd{color:#aa5500
}
.code .s2{color:#aa5500
}
.code .se{color:#aa5500
}
.code .sh{color:#aa5500
}
.code .si{color:#aa5500
}
.code .sx{color:#aa5500
}
.code .sr{color:#009999
}
.code .s1{color:#aa5500
}
.code .ss{color:#0000aa
}
.code .bp{color:#00aaaa
}
.code .vc{color:#aa0000
}
.code .vg{color:#aa0000
}
.code .vi{color:#aa0000
}
.code .il{color:#009999
}

